.alert {
  margin-left: 0;
  margin-bottom: 1em;
  font-weight: bold;
}

.alert.err {
  color: red;
  -webkit-text-stroke: 1px #000;
}

.alert.warn {
  color: orange;
  -webkit-text-stroke: 1px #000;
}

.curr-item {
  margin-left: 0;
}

.divider {
  margin-left: 0;
  margin-right: 0;
}

.text-input-combo {
  display: flex;
  justify-content: space-between;
}

.text-input-combo > span {
  margin-left: 0;
  font-size: 0.9em;
}

.text-input-combo input {
  margin-left: 0;
  width: 28px;
}

.text-input-combo input:last-child {
  margin-right: 0;
}

.title {
  font-size: 0.9em;
  margin-left: 0;
  margin-bottom: 2em;
  letter-spacing: 1px;
}

#create {
  margin-right: 0;
}
