.alert {
  margin-left: 0;
  margin-bottom: 1em;
  font-weight: bold;
}

.alert.err {
  color: red;
}

.alert.warn {
  color: orange;
}

.curr-item {
  margin-left: 0;
}

.text-input-combo {
  display: flex;
  justify-content: space-between;
}

.text-input-combo > span {
  margin-left: 0;
  font-size: 0.9em;
}

.text-input-combo input {
  margin-left: 0;
  width: 28px;
}

input.input-lg {
  width: 60px;
}

.text-input-combo input:last-child {
  margin-right: 0;
}

.title {
  font-size: 0.9em;
  margin-left: 0;
  margin-bottom: 2em;
  letter-spacing: 1px;
}

#create {
  margin-right: 0;
}

#info-section {
  margin-top: 1em;
  margin-bottom: 1em;
}

#info-section > div {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
}

#info-section > hr {
  margin-left: 0;
  margin-right: 0;
}

#info-section > hr:first-child {
  margin-bottom: 2em;
}

#info-section > hr:last-child {
  margin-top: 2em;
}

#margins {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
